In [1]:
import pandas as pd

# Reading Data

In [4]:
df=pd.read_csv('data.csv')

In [5]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.502519         1   33          1           1              1
1  101.246771         1   66          0          -1              0
2  101.991285         0   70          1          -1              0
3  101.506957         1   50          1           0              1
4   98.392770         1   83          1          -1              1

In [6]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2644   99.858795         1   38          1          -1              1
2645   98.404109         0   72          0           1              1
2646   99.165165         1   40          1           1              1
2647  100.859662         0   93          1           0              0
2648   98.351369         0   97          0          -1              0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2649 entries, 0 to 2648
Data columns (total 6 columns):
fever            2649 non-null float64
bodyPain         2649 non-null int64
age              2649 non-null int64
runnyNose        2649 non-null int64
diffBreath       2649 non-null int64
infectionProb    2649 non-null int64
dtypes: float64(1), int64(5)
memory usage: 124.3 KB

In [9]:
df['diffBreath'].value_counts()

 1    929
-1    877
 0    843
Name: diffBreath, dtype: int64

In [10]:
    df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000
mean,99.978657,0.522461,50.507361,0.517931,0.019630,0.497924
std,1.153737,0.499590,28.972915,0.499773,0.825614,0.500090
min,98.002737,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.994498,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.940813,1.000000,50.000000,1.000000,0.000000,0.000000
75%,100.974447,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.997722,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [11]:
import numpy as np

In [56]:
def data_split (data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices] ,data.iloc[test_indices]

In [57]:
np.random.permutation(7)

array([3, 6, 5, 1, 4, 0, 2])

In [58]:
train, test = data_split(df,0.2)

In [59]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1811  101.014437         1   26          1           0              0
926    98.002737         0   41          1          -1              1
1544   99.633959         0   59          0          -1              1
695   100.900506         1   15          0           0              1
2270  100.568101         0   24          0          -1              1
...          ...       ...  ...        ...         ...            ...
1638   98.352963         0   88          1           0              0
1095  100.204368         1    2          0          -1              1
1130  100.439494         1   36          0           1              0
1294   99.653225         0   31          0           1              0
860   101.316491         0   56          1           0              0

[2120 rows x 6 columns]

In [55]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1691   99.451511         1   70          1           0              0
1149  101.601392         0   89          1           1              0
812    98.583187         0   26          1          -1              0
1499   99.873632         1   37          1           1              0
1005  100.482134         1   58          1          -1              1
...          ...       ...  ...        ...         ...            ...
69    100.194175         0   54          0          -1              0
527    99.863184         0   91          0           1              0
2147   99.157794         1   87          1          -1              0
2474  100.013926         0   74          0          -1              0
2572  101.824285         1   66          1          -1              0

[529 rows x 6 columns]

In [60]:
X_train = train [['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test [['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [67]:
Y_train = train [['infectionProb']].to_numpy().reshape(2120,)
Y_test = test [['infectionProb']].to_numpy().reshape(529 ,)

In [62]:
Y_train

array([[0, 1, 1, ..., 0, 0, 0]])

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
inputFeatures = [102, 1, 24, -1, 1]
infectionProb = clf.predict_proba([inputFeatures])[0][1]

In [75]:
infectionProb

0.4600596784266412